*{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	background-color: #4284FF;
	color: white;
	text-decoration: none;
	font-size: 20px;
	position: absolute;
}


.author, .quote{
	text-align: center;
}

@mixin btn{
	margin-top: 300px;
	margin-left: 560px; 
	border: 1px solid white;
	width: 400px;
	height: 50px;
}

.trigger{
	@include btn;
}

.link{
	@include btn;
	margin-top: 350px;
	margin-left: 560px;
	display: flex; 
	align-items: center;
	justify-content: center;

	i{
		margin-left: -30px;
	} 
}

h1{
	@include btn;
	margin-top: 50px;
	border:none;
}